<section class="h-screen bg-gradient-to-tr from-sky-500 via-emerald-400 to-emerald-100 py-24">
    <div class="container mx-auto px-4">
        <div class="flex flex-col gap-12 rounded-2xl bg-slate-50 p-12 shadow-2xl sm:w-full sm:flex-row">
            <div class="sm:w-2/5">
                <img class="block w-full rounded-2xl" src="../../../assets/Touhid_c24.jpg" alt="profile" />
            </div>

            <div class="sm:w-3/5">
                <div class="flex flex-col">
                    <div class="text-lg font-thin tracking-wider text-gray-800">HELLO EVERYBODY, I AM</div>
                    <h1 class="mt-4 text-4xl font-bold text-gray-800">TOUHID RAHMAN</h1>
                    <div class="mt-2 text-lg font-medium uppercase tracking-tight text-blue-600">
                        Frontend / Fullstack Web Developer
                    </div>
                </div>

                <div class="mt-8 max-w-md text-lg leading-8 text-gray-500">
                    Former pilot and now a self-learned web developer with 5 years of experience. Expert in Frontend
                    Development, REST API Development, Angular, Typescript, Node.JS, and more.
                </div>

                <div class="mt-8 space-y-4">
                    <div class="flex flex-row">
                        <i class="bx bx-home mr-6 text-xl text-blue-600"></i>
                        <div class="text-lg text-gray-500">Manchester, NH, USA</div>
                    </div>
                    <!-- <div class="flex flex-row">
                        <i class="bx bx-phone mr-6 text-xl text-blue-600"></i>
                        <div class="text-lg text-gray-500">+1 (978) 913-8282</div>
                    </div> -->
                    <div class="flex flex-row">
                        <i class="bx bx-envelope mr-6 text-xl text-blue-600"></i>
                        <div class="text-lg text-gray-500">touhidrahman1987@gmail.com</div>
                    </div>
                </div>

                <div class="mt-12 flex flex-wrap gap-4 md:gap-0 md:space-x-3">
                    <a
                        href="https://www.linkedin.com/in/touhidrahman"
                        target="_blank"
                        rel="noopener noreferrer"
                        class="rounded border border-solid border-blue-500 py-3 px-4 text-blue-500 hover:bg-blue-600 hover:text-blue-50"
                    >
                        <i class="bx bxl-linkedin"></i>
                    </a>
                    <a
                        href="https://twitter.com/touhidrahman87"
                        target="_blank"
                        rel="noopener noreferrer"
                        class="rounded border border-solid border-blue-500 py-3 px-4 text-blue-500 hover:bg-blue-600 hover:text-blue-50"
                    >
                        <i class="bx bxl-twitter"></i>
                    </a>
                    <a
                        href="https://www.behance.net/touhidrahman"
                        target="_blank"
                        rel="noopener noreferrer"
                        class="rounded border border-solid border-blue-500 py-3 px-4 text-blue-500 hover:bg-blue-600 hover:text-blue-50"
                    >
                        <i class="bx bxl-behance"></i>
                    </a>
                </div>

                <div class="mt-4 flex flex-wrap gap-4 md:gap-0 md:space-x-3">
                    <a
                        href="https://drive.google.com/file/d/1FMSvEEuEuW7GEo0DkJhwRM0M2ZxIye48/view?usp=sharing"
                        target="_blank"
                        rel="noopener noreferrer"
                        class="rounded border border-solid border-blue-500 bg-blue-600 py-3 px-4 text-white hover:bg-blue-700 hover:text-blue-50"
                    >
                        <i class="bx bxs-file-pdf mr-2"></i>
                        View Resume
                    </a>
                    <a
                        href="https://blog.touhidrahman.me"
                        target="_blank"
                        rel="noopener noreferrer"
                        class="rounded border border-solid border-blue-500 py-3 px-4 text-blue-500 hover:bg-blue-600 hover:text-blue-50"
                    >
                        <i class="bx bxl-medium-square mr-2"></i>
                        Visit My Blog
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
