<section class="h-full bg-gradient-to-tr from-sky-500 via-emerald-400 to-emerald-100 py-8 lg:py-24">
    <div class="container mx-auto px-2 md:px-4">
        <div class="flex flex-col gap-4 rounded-2xl bg-slate-50 p-4 shadow-2xl sm:w-full sm:flex-row lg:gap-12 lg:p-12">
            <div class="sm:w-2/5">
                <img class="block w-full rounded-2xl" src="../../../assets/Touhid_c24.jpg" alt="profile" />

                <div class="mt-6 space-y-2 lg:mt-8 lg:space-y-4">
                    <div class="flex flex-row">
                        <i class="bx bx-home mr-6 text-xl text-blue-600"></i>
                        <div class="text-gray-500 lg:text-lg">Manchester, NH, USA</div>
                    </div>
                    <!-- <div class="flex flex-row">
                        <i class="bx bx-phone mr-6 text-xl text-blue-600"></i>
                        <div class="text-lg text-gray-500">+1 (978) 913-8282</div>
                    </div> -->
                    <div class="flex flex-row">
                        <i class="bx bx-envelope mr-6 text-xl text-blue-600"></i>
                        <div class="text-gray-500 lg:text-lg">touhidrahman1987@gmail.com</div>
                    </div>
                    <div class="flex flex-row">
                        <i class="bx bxl-linkedin mr-6 text-xl text-blue-600"></i>
                        <a
                            href="https://www.linkedin.com/in/touhidrahman"
                            target="_blank"
                            rel="noopener noreferrer"
                            class="text-gray-500 hover:text-blue-500 lg:text-lg"
                        >
                            linkedin.com/in/touhidrahman
                        </a>
                    </div>
                </div>

                <div class="mt-4 flex flex-wrap gap-2 md:gap-0 md:space-x-3 lg:mt-6">
                    <a
                        href="https://github.com/touhidrahman"
                        target="_blank"
                        rel="noopener noreferrer"
                        alt="Github"
                        class="rounded border border-solid border-blue-500 py-3 px-4 text-blue-500 hover:bg-blue-600 hover:text-blue-50"
                    >
                        <i class="bx bxl-github"></i>
                    </a>
                    <a
                        href="https://twitter.com/@touhid__rahman"
                        target="_blank"
                        rel="noopener noreferrer"
                        alt="Twitter"
                        class="rounded border border-solid border-blue-500 py-3 px-4 text-blue-500 hover:bg-blue-600 hover:text-blue-50"
                    >
                        <i class="bx bxl-twitter"></i>
                    </a>
                    <a
                        href="https://www.behance.net/touhidrahman"
                        target="_blank"
                        rel="noopener noreferrer"
                        alt="Behance"
                        class="rounded border border-solid border-blue-500 py-3 px-4 text-blue-500 hover:bg-blue-600 hover:text-blue-50"
                    >
                        <i class="bx bxl-behance"></i>
                    </a>
                </div>

                <div class="mt-4 flex flex-wrap gap-2 md:gap-0 md:space-x-3 lg:mt-6">
                    <a
                        href="https://drive.google.com/file/d/1FMSvEEuEuW7GEo0DkJhwRM0M2ZxIye48/view?usp=sharing"
                        target="_blank"
                        rel="noopener noreferrer"
                        class="rounded border border-solid border-blue-500 bg-blue-600 py-3 px-4 text-white hover:bg-blue-700 hover:text-blue-50"
                    >
                        <i class="bx bxs-file-pdf mr-2"></i>
                        My Resume
                    </a>
                    <a
                        href="https://blog.touhidrahman.me"
                        target="_blank"
                        rel="noopener noreferrer"
                        class="rounded border border-solid border-blue-500 py-3 px-4 text-blue-500 hover:bg-blue-600 hover:text-blue-50"
                    >
                        <i class="bx bxl-medium-square mr-2"></i>
                        My Blog
                    </a>
                </div>
            </div>

            <div class="mt-6 sm:mt-0 sm:w-3/5">
                <div class="flex flex-col">
                    <div class="text-lg font-thin tracking-wider text-gray-800">HELLO EVERYBODY, I AM</div>
                    <h1 class="mt-4 text-4xl font-bold text-gray-800">TOUHID RAHMAN</h1>
                    <div class="mt-2 text-lg font-medium uppercase tracking-tight text-blue-600">
                        Frontend / Full-stack Web Developer
                    </div>
                </div>

                <div class="prose mt-8 leading-8 text-gray-500 sm:text-lg">
                    <h4 class="mb-6">
                        Expert Frontend Developer with more than 5 years of experience in Angular, JavaScript,
                        TypeScript, Node.js, and REST API development.
                    </h4>
                    <p>
                        Growing up in Bangladesh, a country in South Asia, I joined the Air Force as a Pilot after high
                        school in 2007. It was a prestigious profession, but I decided to leave the Air Force in 2015
                        and pursue my passion for programming.
                    </p>
                    <p>
                        My Bachelors had to be in Aeronautics because of the aviation profession. So I completed a
                        1-year diploma in Computer Science to start off my new career. Later in 2015, I joined a top
                        private airlines in Bangladesh as a Web Developer. As the only in-house developer, I took the
                        initiative to rev-amp the airline's official website. I completely rebuilt it from scratch,
                        drawing up more visitors. I did much more in that position during my year-long tenure.
                    </p>
                    <p>
                        In the meantime, I secured an admission in MS in Software Development at a German University. I
                        moved to Germany in 2016. I achieved the "German Fellowship" scholarship year-on-year (which is
                        quite uncommon). The university also honored me with the "DAAD Best International Student Award"
                        given to one student each year. It was really a great time in my life.
                    </p>
                    <p>
                        In Germany, I worked as Frontend Web Developer for about 4-years in various German companies -
                        startup, small, and big. My colleagues and superiors loved me, and I am grateful for that. I had
                        a military profession for over eight years, but the coding career was still new to me. My
                        workplaces in Germany taught me so many things - coding best practices, effective communication,
                        analytical and problem solving skills, and more.
                    </p>
                    <p>
                        In 2022, I moved to the US to pursue my second MS. I am currently undergoing MS in Information
                        Technology at Southern New Hampshire University. My expected graduation is in August 2023.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
