@import "tailwindcss";

@theme {
  /* 🎨 Colors */
  --color-light: #fffefc;
  --color-surface: #f0f1f3;
  --color-footer: #2b384c;
  --color-primary: #ecfeee;
  --color-secondary: #7fa06f;

  /* 🖋️ Fonts */
  --font-montserrat: "Montserrat", sans-serif;
  --font-poppins: "Poppins", sans-serif;
  --font-inter: "Inter", sans-serif;

  /* 📱 Breakpoints */
  --breakpoint-xs: 480px;
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1536px;
}

@layer utilities {
  .container-default {
    @apply w-full md:max-w-3xl xl:max-w-4xl 2xl:max-w-6xl mx-auto px-4 md:px-0;
  }
}
