<main class="p-4">
    <h1 class="text-4xl">In case of emergency</h1>

    <h2 class="text-2xl mt-8">Blood Group: <span class="text-red-500">O+ve</span></h2>

    <div class="mt-12 mb-24">
        <h3 class="text-4xl">Contact</h3>

        <div class="mt-8 text-lg">Anisur Akhand (Friend, USA)</div>
        <div class="flex">
            <i class="bx bx-phone mr-4 text-xl text-blue-600"></i>
            <div class="text-lg text-gray-500">+1 774 223 9731</div>
        </div>

        <div class="mt-8 text-lg">Nabilah Azim (Wife, USA)</div>
        <div class="flex">
            <i class="bx bx-phone mr-4 text-xl text-blue-600"></i>
            <div class="text-lg text-gray-500">+1 603 858 8784</div>
        </div>

        <div class="mt-8 text-lg">S M Mahbubur Rahman (Father, Bangladesh)</div>
        <div class="flex">
            <i class="bx bx-phone mr-4 text-xl text-blue-600"></i>
            <div class="text-lg text-gray-500">+880 1711 02 35 21</div>
        </div>
    </div>
</main>
